<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
    <div class="container">
      <div class="card card-container">
          <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
          <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
          <p id="profile-name" class="profile-name-card"></p>
          <form class="form-signin">
              <span id="reauth-email" class="reauth-email"></span>
              <input type="email" id="inputEmail" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Email address" [(ngModel)]="email" required autofocus>
              <!-- <div>
                  <</p>
              </div> -->
              <input type="password" [ngModelOptions]="{standalone: true}" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="password" required>
              <!-- <br> -->
                <h6 *ngIf='field_error'><b>field's can't be empty!!!</b></h6>
               <div *ngIf='authenticate_error'>
                  <h6><b>Please Enter Correct Credentials!!!</b></h6>
              </div>
              <br>
              <div id="remember" class="checkbox">
                  <label>
                      <input type="checkbox" value="remember-me"> Remember me
                  </label>
              </div>
              <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="onSignIn(email,password)" type="submit">Sign in</button>
          </form><!-- /form -->
          <a href="#" class="forgot-password">
              Forgot the password?
          </a>
      </div><!-- /card-container -->
  </div><!-- /container -->